.heading{
    width:100%;
    margin:0;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#para{
    font-size: 35px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 300;
    color:snow;
}

p{
    font-size: 25px;
    font-family: 'DM Sans', 'sans-serif';
    color: black;
}

body{
    background-size:cover;
    text-align:center;
}

#ankor{
    font-size:35px;
    font-family: 'Lilita One', sans-serif;
    background-color:lightsalmon;
    color:snow;
    border-color:darkslategrey;
    border-radius: 8px;
}